.dv-table {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: white;
  padding-top: 28px;

  /* HEAD */
  > .head {
    font-size: calc(var(--dv-font-size-base) + 6px);
    font-weight: 600;
    color: var(--dv-color-gray-light);
  }

  /* BODY */
  > .body {
    > .row {
      display: grid;
      grid-template-columns: 2fr 1fr auto;
      padding: 24px 32px;
      border-bottom: 1px solid var(--dv-color-gray-lighter);

      &:last-child {
        border-bottom: none;
      }

      /* BODY - TITLE-DESCRIPTION */
      > .title-description {
        > .title {
          font-weight: 600;
          margin-bottom: 8px;
        }

        > .description {
        }
      }

      /* BODY - PRICE */
      > .price {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
      }

      /* BODY - ACTIONS */
      > .actions {
        > .edit {
          color: var(--dv-color-primary);
          margin-right: 5px;
          cursor: pointer;
        }

        > .delete {
          color: var(--dv-color-danger);
          cursor: pointer;
        }
      }
    }
  }
}
