<div class="dv-register">
  <dv-wrapper>
    <form class="left" (submit)="cadastrar()" [formGroup]="registerForm">
      <!-- <div class="dv-radio">
        <label for="dev">Dev</label>
        <input id="dev" type="radio" />
      </div> -->

      <h1 class="main-title">
        <span class="up">Olá!</span>
        <span class="down">Vamos criar seu cadastro.</span>
      </h1>
      <div class="radio-buttons">
        <h3 class="title">Qual o seu perfil?</h3>
        <div class="buttons">
          <!--Criando Radio Button do zero-->
          <label class="dv-radio">
            Dev
            <input name="cargo" type="radio" (click)="toogleRole('dev')" />
            <span class="checkmark"></span>
          </label>

          <label class="dv-radio">
            Cliente
            <input name="cargo" type="radio" (click)="toogleRole('cliente')" />
            <span class="checkmark"></span>
          </label>

          <!--Criando Check Box (Toogle) do zero-->
          <!-- <label class="dv-toogle">
            Ativo
            <input name="check" type="checkbox" value="false" />
            <span class="checkbox"></span>
          </label> -->
        </div>
        <span class="role-invalid" *ngIf="isInvalid('role', 'required')">{{
          msg.role
        }}</span>
      </div>

      <mat-form-field appearance="legacy">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="fullName" />
        <mat-error *ngIf="isInvalid('fullName', 'required')">{{
          msg.required
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Data de Nascimento</mat-label>
        <input type="date" matInput formControlName="birthDate" />
        <mat-error *ngIf="isInvalid('birthDate', 'required')">{{
          msg.required
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="isInvalid('email', 'required')">{{
          msg.required
        }}</mat-error>
        <mat-error *ngIf="isInvalid('email', 'email')">{{
          msg.email
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="isInvalid('password', 'required')">{{
          msg.required
        }}</mat-error>
      </mat-form-field>

      <dv-button text="Continuar"></dv-button>
    </form>
    <div class="right">
      <img
        class="image"
        alt="Fundo de decoração com 3 cubos"
        src="assets/image/bg-cubes.png"
      />
    </div>
  </dv-wrapper>
</div>
