.dv-project-create-edit {
  .left {
    max-width: 368px;
    margin: auto;

    > .main-title {
      font-size: calc(var(--dv-font-size-base) + 32px);
      font-weight: 600;
      max-width: 900px;
      margin-bottom: 45px;
    }

    > .dv-button {
      margin-top: 40px;
    }
  }

  .right {
    overflow: hidden;
    position: relative;
    height: calc(100vh - var(--dv-header-size));

    > .image {
      position: absolute;
      height: 100%;
      min-width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
